$color-lime-darker: #101900;
$color-lime-dark: #2a4a00;
$color-lime-base: #61a824;
$color-lime-light: #ace08a;
$color-lime-lighter: #eefee7;
$color-lime-text: #192b00;

$color-green-darker: #001b07;
$color-green-dark: #004a18;
$color-green-base: #24a852;
$color-green-light: #96deb2;
$color-green-lighter: #eefbf4;
$color-green-text: #002b0d;

$color-teal-darker: #001a18;
$color-teal-dark: #004543;
$color-teal-base: #0ca6ab;
$color-teal-light: #87dee3;
$color-teal-lighter: #e8fbfc;
$color-teal-text: #002928;

$color-cyan-darker: #05161f;
$color-cyan-dark: #063e59;
$color-cyan-base: #119aeb;
$color-cyan-light: #8ad4ff;
$color-cyan-lighter: #ebf9ff;
$color-cyan-text: #052533;

$color-blue-darker: #03152b;
$color-blue-dark: #023075;
$color-blue-base: #0a5bfc;
$color-blue-light: #9ec5ff;
$color-blue-lighter: #f0f7ff;
$color-blue-text: #03204a;

$color-purple-darker: #16042a;
$color-purple-dark: #400c73;
$color-purple-base: #892cd1;
$color-purple-light: #e698f5;
$color-purple-lighter: #fceefc;
$color-purple-text: #29074f;

$color-rose-darker: #220716;
$color-rose-dark: #630e39;
$color-rose-base: #bf2367;
$color-rose-light: #ff9ec6;
$color-rose-lighter: #fceef7;
$color-rose-text: #420a28;

$color-red-darker: #260309;
$color-red-dark: #690713;
$color-red-base: #c7242b;
$color-red-light: #ffa3a5;
$color-red-lighter: #fff0f1;
$color-red-text: #45040e;

$color-orange-darker: #240c00;
$color-orange-dark: #612500;
$color-orange-base: #ec7a22;
$color-orange-light: #ffc88a;
$color-orange-lighter: #fff8e6;
$color-orange-text: #3e1600;

$color-yellow-darker: #1f1300;
$color-yellow-dark: #523800;
$color-yellow-base: #f2c840;
$color-yellow-light: #ffe180;
$color-yellow-lighter: #fffde6;
$color-yellow-text: #332200;

$color-ink-darker: #131316;
$color-ink-dark: #1c1e21;
$color-ink-base: #272a2f;
$color-ink-light: #3b3f45;
$color-ink-lighter: #595d64;

$color-paper-darker: #8a8e96;
$color-paper-dark: #b6b8be;
$color-paper-base: #d3d4d9;
$color-paper-light: #e3e3e6;
$color-paper-lighter: #f7f7f8;

// older colors
$mui-color-green: #01c878;
$mui-color-green2: #06ac69;
$mui-color-green-light: #7fdf22;
$mui-color-blue: #1b9cf6;
$mui-color-blue2: #1a8cdb;
$mui-color-blue-dark: #192354;
$mui-color-blue-dark2: #10183e;
$mui-color-dark: #192354;
$mui-color-dark2: #10183e;
$mui-color-orange: #ff9d50;
$mui-color-red: #ef6565;
$mui-color-red2: #cb3737;
$mui-color-brown: #9b3434;
$mui-color-gray: #d3d5e2;
$mui-color-gray2: #3c3f4a;
$mui-color-white1: #ffffff;
$mui-color-white2: #f8f9fb;
$mui-color-white3: #f9f9fe;
$mui-color-grey1: #bebebe;
$mui-color-grey2: #57575e;
$mui-color-grey3: #8c8c98;
